@import url("homepage-layout.css");
@import url("homepage-style.css");
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color:#fff;/*#fff can we more better*/
    font-family: oswald,sans-serif;
}