


a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }

.jumbotran{
    font-family: Oswald;
    
   
}

.welcome-m{
    word-spacing: 0.1rem;
}

.sun-wld{
    word-spacing: 0.01rem;
    color: white;
    background-color: black;
}

.logo{
    text-align: left;
    margin-left: 25px;
    font-size: 36px;
    width: 120px;
    color:black;
    height: 43px;
    text-align: center;
    font-family: comfortaa, monospace;
}


a{
    text-decoration: none;
    color: black;
}

.text-on-img{
    z-index: 2;
    position: absolute;
    color: white;
    width: auto;
    height: auto;
    margin-top: 300px;
    margin-left: 25px;
    font-family: oswald, monospace, Arial, Helvetica, sans-serif;
}

.text-on-img-one{
    font-size: 36px;
    letter-spacing: 0.2rem;
    font-weight: 400;
    text-shadow: 0 0 1px #000;
}

.text-on-img-two{
    font-size: 64px;
    letter-spacing: 4px;
    font-weight: 400;
    text-shadow: 0 0 2px #000;
    }

.btn-on-img{
    font-size: 15px;
    margin-top: 20px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: .1rem;
    transform: scaleY(1.1);
    background-color:#fff;
    opacity: 60%;
    border: none;
    font-weight: 590;
    width: 75px;
    color: black;
    scroll-behavior: smooth;
}

a .btn-on-img:hover{
    background-color: white;
    opacity: 80%;
}

#myname-img{
    background-image: url(../Images/iheb-ab-OBufvGMaBaQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

#myname-text{
    padding: 15px;
    padding-top: 5px;
    font-family: raleway,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.pop-post-t{
    height: 40px;
    background-color: black;
    color: white;
    padding: 15px;
    padding-top: 20px;
    font-size: 20px;
}

ul{
    padding: 0px;
    margin: 0px;
}
li{
    height: 68px;
    border-bottom:1px dotted lightgray;
    padding-top: 15px;
    font-family: open sans;
}

li:hover{
    background-color: lightgrey;
}

.thumbnail{
    width: 50px;
    height: 50px;
    background-image: url(../Images/fashion-art-coffee-macbook-pro-57690.jpg);
    background-size: cover;
    float: left;
    margin: 10px;
    margin-top: 0px;

}

.thumbnail-t{
    font-size: 18px;
    font-weight: 500;
}

.thumbnail-d{
    font-weight: 200;
    font-size: 14px;
}

i:hover{
    color: rgb(128, 128, 128);
}

.rct-post-t{
    width: 100%;
    height: 100px;
    text-align: center;
}

.rct-post-img{
    width: 90%;
    height: 350px;
    background-image: url(../Images/excercise.jpg);
    background-size: cover;
    background-position: top;
    margin-left: 38px;
}

.blog-text{
    padding: 40px;
    font-size: 15px;
    font-weight: 200;
    font-family: open sans;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: justify;
}

.recent{
    width: 65px;
    background-color: rgb(204, 3, 3);
    color: white;
    font-family: Oswald,sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

.recent:hover{
   opacity: 70%;

}

.like{
    margin: 0px;
    border:1px solid lightgray;
    font-size: 16px;
    margin-left: 40px;
    background-color: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.like:hover{
    background-color: lightgray;
}
.fa-thumbs-up{
    margin-right: 5px;
 
}
.reply{
    float: right;
    border:none;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 10px;
}

.reply:hover{
    background-color: lightgray;
    color: black;
}

.rep-no{
    background-color: white; 
    color: black;
    padding: 3px;
    padding-left: 6px;
    padding-right: 8px;
    
}

.colln{
    width: auto;
    font-size: 56px;
    font-family: oswald, Arial, Helvetica, sans-serif;
    height: 100px;
    margin-left: 50px;
    
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 250px;
}




.cata-one{
    overflow: hidden;
    position: relative;
    
}
.cata-one-b{
    width: 100%;
    height: 100%;
    background-image: url(../Images/kimzy-nanney-LNDgBERq8Q0-unsplash.jpg);
    background-size: cover;
    background-position: right;
    transition: all 300ms;
    position: relative;
}

.cata-one:hover .cata-one-b{
    transform: scale(1.2);
}

.short-details{
    color:black;
    background: rgb(253, 253, 253);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    padding: 40px;
    padding-top: 30px;
    padding-left: 0px;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    height: 200px;
    transition: all 300ms;
}


.new-post{
    width: 80px;
    background-color: rgb(119, 98, 5);
    color: white;
    font-family: Oswald,sans-serif;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
   
}

.title-name{
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 5px;
    transition: all 300ms linear 0s;
}

.cata-d{
    margin-top: 15px;
    margin-left: 40px;
    color: rgb(71, 71, 71);
    font-size: 25px;
    transition: all 300ms linear 0s;

}

.date{
    color: gray; 
    margin-left: 40PX;
    transition: all 300ms;
}

.title-name:hover, .cata-d:hover, .date:hover{
    color:#ff727f;
}

/*-----------cata-two----------------------------*/

.cata-two{
    overflow: hidden;
    position: relative;
}

.cata-two-b{
    width: 100%;
    height: 100%;
    background-image: url(../Images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    transition: all 300ms;
}

.cata-two:hover .cata-two-b{
    transform: scale(1.2);
}

.short-details-two{
    position: absolute;
    width: 80%;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    height: 200px;
    transition: all 300ms;
    color: #fff;
    bottom: 30%;
    right: 10%;
    text-align: center;
    transition: all 300ms;
}

.white-pink{
    color: #fff;
    transition: all 300ms;
}

.date-two{
    color: white;
    font-size: 14px;
    transition: all 300ms;
}

.author-cata-two{
    transition: all 300ms;
    color: #fff;
}

.short-details-two:hover, .date-two:hover, .author-cata-two:hover, .white-pink:hover{
    color: #ff727f;
}




/*---------------------------cata-two-end----------------------*/
/*----------cata-three-nest-one------------------------------------*/
.nest-flex-one{
    overflow: hidden;
    position: relative;
}

.nest-flex-one-b{
    width: 100%;
    height: 100%;
    background-image: url(../Images/light-london-adverts-piccadilly-circus-34639.jpg);
    background-size: cover;
    background-position: center;
    transition: all 300ms;

}


.nest-flex-one:hover .nest-flex-one-b{
    transform: scale(1.2);
}

.short-details-nest-one{
    position: absolute;
    bottom: 0;
    right: 5%;
    background-color: white;
    color: black;
    text-align: center;
    transition: all 300ms;
    height: 100px;
    width: 90%;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
}

.short-details-nest-one:hover{
    color:  #ff727f;;
}

/*--------------------cata-three-nest-one-end---------------------------------*/
/*--------------------cata-three-nest-two-------------------------------------*/
.nest-flex-two{
    overflow: hidden;
    position: relative;
}


.nest-flex-two-b{
    width: 100%;
    height: 100%;
    background-image: url(../Images/man-in.jpg);
    background-size: cover;
    background-position: center;
    transition: all 300ms;
}

.nest-flex-two:hover .nest-flex-two-b{
    transform: scale(1.2);
}

.short-details-nest-two{
    position: absolute;
    bottom: 0;
    right: 5%;
    background-color: white;
    color: black;
    text-align: center;
    transition: all 300ms;
    height: 100px;
    width: 90%;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
}

.short-details-nest-two:hover{
    color:  #ff727f;;
}

/*----------------------cata-three-nest-two-end------------------------------------*/
/*----------------------cata-four------------------------------------------------------*/
.cata-four{
    overflow: hidden;
    position: relative;
    border: 10px solid #ff727f;
}

.cata-four-b{
    width: 100%;
    height: 100%;
    transition: all 300ms;
    background-image: url(../Images/freelancing3-1.jpg);
    background-size: cover;
    background-position: center;
 
}

.cata-four:hover .cata-four-b{
    transform: scale(1.2);
}

.short-details-four{
    /* position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    transition: all 300ms;
    background-color: #fff;
    color: black;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    text-align: center; */
    color:black;
    background: rgb(253, 253, 253);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    padding: 40px;
    padding-top: 30px;
    padding-left: 0px;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    height: 80%;
    transition: all 300ms;
}

.trending{
    width: 80px;
    background-color: rgb(22, 21, 56);
    color: white;
    font-family: Oswald,sans-serif;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
   z-index: 2;
}

.hover-pink{
    transition: all 300ms;
}

.hover-pink:hover{
    color:  #ff727f;
}

/*----------------------cata-four-end--------------------------------------*/
/*------------------------cata-five----------------------------------------*/
.cata-five{
    overflow: hidden;
    position: relative;
    border:7px solid #b9be7e;
}

.cata-five-b{
    width: 100%;
    height: 100%;
    transition: all 300ms;
    background-image: url(../Images/exercise.jpg);
    background-size: cover;
    background-position: center;
}

.cata-five:hover .cata-five-b{
    transform: scale(1.2);
}

.short-details-five{
    position: absolute;
    width: 80%;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    height: auto;
    transition: all 300ms;
    color: #fff;
    bottom: 0;
    right: 10%;
    text-align: left;
}

.short-details-five:hover{
    color:#ff727f;
}

/*----------------------cata-five-end-------------------------------------*/
/*-----------------------cata-six-----------------------------------------*/
.cata-six{
    overflow: hidden;
    position: relative;
    border:7px solid #b9be7e;
}


.cata-six-b{
    width: 100%;
    height: 100%;
    transition: all 300ms;
    background-image: url(../Images/sports.jpg);
    background-size: cover;
    background-position: center;
}

.cata-six:hover .cata-six-b{
    transform: scale(1.2);
}

.short-details-six{
    position: absolute;
    width: 80%;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    height: auto;
    transition: all 300ms;
    color: #fff;
    bottom: 0;
    right: 10%;
    text-align: left;
}

/* .short-details-six:hover{
    color:#ff727f;
} */
/*--------------------------cata-six-end-------------------------------*/
/*------------------------------cata-seven-------------------------------*/
.cata-seven{
    overflow: hidden;
    position: relative;
}


.cata-seven-b{
    width: 100%;
    height: 100%;
    transition: all 300ms;
    background-image: url(../Images/meditation-flow.jpg);
    background-size: cover;
    background-position: bottom;
}

.cata-seven:hover .cata-seven-b{
    transform: scale(1.2);
}


.short-details-seven{
    color:black;
    background: rgb(253, 253, 253);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    padding: 40px;
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 10px;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    height: 190px;
    transition: all 300ms;
}

.cata-seven-t{
    color:#ff727f;
    margin-left: 40px;
    margin-bottom: 10px;
}

.cata-seven-d{
    margin-left: 40px;
    font-size: 20px;
}


/*------------------------------cata-seven-end------------------------------*/
/*-------------------------------cata-nest-flex-three----------------------*/
.nest-flex-three{
    overflow: hidden;
    position: relative; 
}

.nest-flex-three-b{
    width: 100%;
    height: 100%;
    transition: all 300ms;
    background-image: url(../Images/travel1.jpg);
    background-size: cover;
    background-position: center;
}

.nest-flex-three:hover .nest-flex-three-b{
    transform: scale(1.2);
}

.short-details-nest-flex-three{
    color:black;
    background: rgb(253, 253, 253);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 40px;
    padding-top: 30px;
    padding-left: 0px;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    height: 80%;
    transition: all 300ms;
}

/*------------------------------cata-nest-flex-three-end------------------------------*/

.nest-flex-four{
    overflow: hidden;
    position: relative; 
}

.nest-flex-four-b{
    width: 100%;
    height: 100%;
    transition: all 300ms;
    background-image: url(../Images/self2.jpg);
    background-size: cover;
    background-position: bottom;
}

.nest-flex-four:hover .nest-flex-four-b{
    transform: scale(1.2);
}

.short-details-nest-flex-four{
    color:black;
    background: rgb(253, 253, 253);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    padding: 40px;
    padding-top: 30px;
    padding-left: 40px;
    font-family: josefin sans,Arial, Helvetica, sans-serif;
    height: 80%;
    transition: all 300ms;
}


/*---------------subs-------------------------------------*/
#subs{
    text-align: center;
    font-size: 45px;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    padding-top: 50px;
}

.email-input{
    height: 60px;
    width: 50%;
    border-radius: 30px;
    background-color: #f7f7f7;
    padding-left: 40px;
    font-style: italic;
    border-color: rgba(255,255,255,0.01);
    transition: 0.3s all ease-in-out;
    color: #8d8d8d;
    font-size: 16px;
}

.email-input:hover{
    background-color: #f1f1f1;
}

.send-btn{
    padding: 20px 40px;
    background-color: #007aff;
    color: #fff;
    border-radius: 30px;
    font-weight: 800;
    border: none;
    font-size: 14px;
    height: 60px;
    transition: .25s all ease-in-out;
}

.send-btn:hover{
    background-color: #6dacf0; 
    cursor: pointer;

}
/*----------------subs end------------------------------------------*/

/*----------------------------quote-start------------------------------------*/
/* .time-q{
    width: 30%;
    height: auto;
    margin: 40px;
    float: left;
    border: 10px solid  rgb(165, 24, 24);
} */

/* .quote{
    margin-top: 170px;
    width: 100%;
    height: 220px;
    font-size: 80px;
    /* background-color: rgb(165, 24, 24); */
    /* color: white;
    background-color: lightgray;
    font-family: Montserrat,Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 40px;
}
 */ 

/*----------------------------quote-end---------------------------------------*/

/*---------------------------------gallery----------------------*/


.img-gal{
    padding-top: 100px;
}
.gal{
    width: 16.8%;
    height: 200px;
}
/*--------------------------------gallery end----------------------------------*/
/*-----------------------------------footer---------------------------------*/
.t-top{
    margin-top: 80px;
    margin-left: 40px;
    padding: 15px;
    background-color: black;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    width: 150px;

}

.fa-arrow-up{
    margin-right: 10px;
}

.news-l{
    width: 30%;
    text-align:left;
    margin-top:50px;
    padding: 40px;
    padding-top: 0px;

}

.contact{
    width: 20%;
    text-align:left;
    margin-top:50px;
    padding-left: 30px;
    font-weight: 200;
    
}

.cata{
    width: 20%;
    text-align:center;
    margin-top:50px;

}

.foot-follow{
    width: 20%;
    text-align:center;
    margin-top:50px;

}

.foot-subs{
    width: 70%;
    border-radius: 20px;
    height: 30px;
}

.btn-subs-foot{
    width: 15%;
    border: none;
    font-size: 18px;
    height: 30px;
    border-radius: 20px;
    background-color: tomato;
}



/*------------------------------------footer-ended--------------------------------*/
/* navigation start from here*/


  /*navigation ens here*/