.strip{
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
}

.jumbotran{
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 50px;
    padding-top: 75px;
}

.blog-image{
    max-width: 100%;
    height: auto;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 207px 207px 207px 207px 207px 207px;
    grid-template-areas: 
    "rct rct sd"
    "rct rct sd"
    "rct rct sd"
    "rct rct sd"
    "rct rct sd"
    "rct rct sd";
}
#flexbox-one{
    grid-area: rct;
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    padding: 20px;
    padding-bottom: 0px;
}

#flexbox-two{
    grid-area: sd;
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 0, 100); 
    padding: 20px;  
}

.recent-post{
    
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
    background-color: darkgrey;
}

#myname{
    width: 90%;
    height:400px;
    background-color: darkgrey;
    margin: 20px;
}

#PopPost{
    width: 90%;
    height: 450px;
    background-color: darkgrey;
    margin: 20px;
}

#follow-me{
    width: 90%;
    height: 120px;
    background-color: darkgrey;
    margin: 20px;
}

.container-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 550px 450px 750px;
    grid-template-areas: 
    "tp tp tp"
    "mdl mdl mdl"
    "btm btm btm";
}
.flexbox-three{
    grid-area: tp;
    display: flex;
    flex-direction: row;
    background-color: rgb(68, 13, 54);
    padding: 15px;
    
  
    
}

.flexbox-four{
    grid-area: mdl;
    display: flex;
    flex-direction: row;
    background-color: pink;
    flex-direction: row;
    padding-top: 85px;
    padding-left: 75px;
}

.flexbox-five{
    grid-area: btm;
    display: flex;
    flex-direction: row;
    background-color: rgb(47, 143, 119);
    padding-left: 50px;
    padding-top: 75px;
}

#cata-one{
    width: 40%;
    background-color: magenta;
    height: 95%;
    margin: 15px;
}

#cata-two{
    width: 30%;
    background-color: rgb(9, 67, 82);
    height: 95%;
    margin: 15px;

}

#cata-three{
    width: 22%;
    background-color: rgb(41, 70, 8);
    height: 95%;
    margin: 15px;
    display: flex;
    flex-direction: column;

}

.nest-flex-one{
    width: 100%;
    height: 225px;
    background-color: rgb(35, 161, 113);
    margin-bottom: 40px;
}

.nest-flex-two{
    width: 100%;
    height: 225px;
    background-color: rgb(127, 202, 133);
}

.cata-four{
    width: 550px;
    height: 350px;
    background-color: mintcream;
    margin-right: 20px;
}

.cata-five{
    width: 250px;
    height: 350px;
    background-color: mintcream;
    margin-left: 10px;
    margin-right: 20px;
}

.cata-six{
    width: 250px;
    height: 350px;
    background-color: mintcream;
    margin-left: 10px;

}

.cata-seven{
    width: 555px;
    height: 600px;
    background-color: navajowhite;
    margin:25px;
}

.cata-eight{
    display: flex;
    flex-direction: column;
    width: 555px;
    height: 600px;
    background-color: navajowhite;
    margin:25px;
    margin-left: 5px;
}

.nest-flex-three{
    width: 100%;
    height: 287px;
    background-color: navy;
    margin-bottom: 25px;
}

.nest-flex-four{
    width: 100%;
    height: 287px;
    background-color: navy;
}

.subs-pallete{
    width: 100%;
    height: 400px;
    background-color: orchid;
}