.jumbotran{
    font-family: Oswald;
    
   
}

.welcome-m{
    word-spacing: 0.1rem;
}

.sun-wld{
    word-spacing: 0.01rem;
    color: white;
    background-color: black;
}

.logo{
    text-align: left;
    margin-left: 25px;
    font-size: 36px;
    width: 120px;
    color:black;
    height: 43px;
    text-align: center;
    font-family: comfortaa, monospace;
}


a{
    text-decoration: none;
    color: black;
}

.text-on-img{
    z-index: 2;
    position: absolute;
    color: white;
    width: auto;
    height: auto;
    margin-top: 300px;
    margin-left: 25px;
    font-family: oswald, monospace, Arial, Helvetica, sans-serif;
}

.text-on-img-one{
    font-size: 36px;
    letter-spacing: 0.2rem;
    font-weight: 400;
    text-shadow: 0 0 1px #000;
}

.text-on-img-two{
    font-size: 64px;
    letter-spacing: 4px;
    font-weight: 400;
    text-shadow: 0 0 2px #000;
    }

.btn-on-img{
    font-size: 15px;
    margin-top: 20px;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: .1rem;
    transform: scaleY(1.1);
    background-color:#fff;
    opacity: 60%;
    border: none;
    font-weight: 590;
    width: 75px;
    color: black;
    scroll-behavior: smooth;
}

a .btn-on-img:hover{
    background-color: white;
    opacity: 80%;
}

#myname-img{
    background-image: url(../Images/iheb-ab-OBufvGMaBaQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

#myname-text{
    padding: 15px;
    padding-top: 5px;
    font-family: raleway,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.pop-post-t{
    height: 40px;
    background-color: black;
    color: white;
    padding: 15px;
    padding-top: 20px;
    font-size: 20px;
}

ul{
    padding: 0px;
    margin: 0px;
}
li{
    height: 68px;
    border-bottom:1px dotted lightgray;
    padding-top: 15px;
    font-family: open sans;
}

li:hover{
    background-color: lightgrey;
}

.thumbnail{
    width: 50px;
    height: 50px;
    background-image: url(../Images/fashion-art-coffee-macbook-pro-57690.jpg);
    background-size: cover;
    float: left;
    margin: 10px;
    margin-top: 0px;

}

.thumbnail-t{
    font-size: 18px;
    font-weight: 500;
}

.thumbnail-d{
    font-weight: 200;
    font-size: 14px;
}

i:hover{
    color: rgb(128, 128, 128);
}

.rct-post-t{
    width: 100%;
    height: 100px;
    text-align: center;
}

.rct-post-img{
    width: 90%;
    height: 350px;
    background-image: url(../Images/excercise.jpg);
    background-size: cover;
    background-position: top;
    margin-left: 38px;
}

.blog-text{
    padding: 40px;
    font-size: 15px;
    font-weight: 200;
    font-family: open sans;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: justify;
}

.recent{
    width: 65px;
    background-color: rgb(204, 3, 3);
    color: white;
    font-family: Oswald,sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

.recent:hover{
   opacity: 70%;

}

.like{
    margin: 0px;
    border:1px solid lightgray;
    font-size: 16px;
    margin-left: 40px;
    background-color: white;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.like:hover{
    background-color: lightgray;
}
.fa-thumbs-up{
    margin-right: 5px;
 
}
.reply{
    float: right;
    border:none;
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 10px;
}

.reply:hover{
    background-color: lightgray;
    color: black;
}

.rep-no{
    background-color: white; 
    color: black;
    padding: 3px;
    padding-left: 6px;
    padding-right: 8px;
    
}

/* navigation start from here*/


  /*navigation ens here*/